n8n-articulate-zoho-workflow.json
{
  "name": "Articulate Partner Portal → Zoho CRM + Zoho → Salesforce",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 200],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 14 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 420],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Generar Lista Archivos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "// CONFIGURACION REQUERIDA:\n// Reemplaza los fileId con los IDs reales de Google Drive.\n// Como obtener un ID: abre el archivo en Drive y copia el ID de la URL (/d/FILE_ID/)\n\nreturn [\n  {\n    json: {\n      fileName: 'Buy_Now_Leads.xlsx',\n      fileId: 'REEMPLAZAR_CON_ID_GOOGLE_DRIVE_1'\n    }\n  },\n  {\n    json: {\n      fileName: 'Emerging_Pricing_Page.xlsx',\n      fileId: 'REEMPLAZAR_CON_ID_GOOGLE_DRIVE_2'\n    }\n  },\n  {\n    json: {\n      fileName: 'Partner_Open_Pipeline_Next_7_Days.xlsx',\n      fileId: 'REEMPLAZAR_CON_ID_GOOGLE_DRIVE_3'\n    }\n  }\n];"
      }
    },
    {
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Descargar Archivo Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [720, 300],
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GDRIVE_CRED_ID",
          "name": "Google Drive TAEC"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Parsear XLSX",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "operation": "fromFile",
        "binaryPropertyName": "data",
        "options": {
          "headerRow": 1,
          "sheets": ["Sheet1"]
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Filtrar Pais MEX",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [1200, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-mex",
              "leftValue": "={{ $json.Country }}",
              "rightValue": "MEX",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Loop Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1440, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Buscar Lead en Zoho",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1680, 300],
      "parameters": {
        "method": "GET",
        "url": "https://www.zohoapis.com/crm/v3/Leads/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zohoCrmOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "criteria",
              "value": "=(Email:equals:{{ $json.Email }})"
            },
            {
              "name": "fields",
              "value": "id,Email,Last_Name,Company"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "zohoCrmOAuth2Api": {
          "id": "ZOHO_CRED_ID",
          "name": "Zoho CRM TAEC"
        }
      }
    },
    {
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Combinar Lead + Resultado Zoho",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 300],
      "parameters": {
        "jsCode": "// Siempre produce 1 item aunque Zoho no encuentre el lead.\n// $json = respuesta HTTP de Zoho; $('Loop Leads').item.json = datos del XLSX.\nconst resp = $input.first().json;\nconst leadData = $('Loop Leads').item.json;\nconst found = Array.isArray(resp.data) && resp.data.length > 0;\nreturn [{\n  json: {\n    ...leadData,\n    _zohoId: found ? resp.data[0].id : null,\n    _zohoExists: found\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Lead Existe en Zoho",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2160, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-lead-exists",
              "leftValue": "={{ $json._zohoExists }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "Actualizar Lead Zoho",
      "type": "n8n-nodes-base.zohoCrm",
      "typeVersion": 1,
      "position": [2400, 120],
      "parameters": {
        "resource": "lead",
        "operation": "update",
        "leadId": "={{ $json._zohoId }}",
        "updateFields": {
          "leadStatus": "={{ $json['Lead Status'] }}",
          "phone": "={{ $json.Phone }}",
          "leadSource": "={{ $json['Campaign Name'] }}"
        }
      },
      "credentials": {
        "zohoCrmOAuth2Api": {
          "id": "ZOHO_CRED_ID",
          "name": "Zoho CRM TAEC"
        }
      }
    },
    {
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "Mapear Campos Nuevo Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 480],
      "parameters": {
        "jsCode": "const countryMap = {\n  MEX: 'Mexico',\n  COL: 'Colombia',\n  GTM: 'Guatemala',\n  SLV: 'Salvador',\n  ECU: 'Ecuador',\n  PER: 'Peru',\n  DOM: 'Republica Dominicana',\n  CRI: 'Costa Rica',\n  VEN: 'Venezuela',\n  NIC: 'Nicaragua'\n};\nconst leadSourceMap = {\n  'WWW Trials (360)': 'Trial',\n  '360': 'Web contact',\n  '360 Review': 'Review',\n  'WWW E-commerce': 'Web contact',\n  'AID Create Page': 'Web contact'\n};\nconst item = $input.first().json;\nreturn [{\n  json: {\n    ...item,\n    _zoho_pais:        countryMap[item.Country] || item.Country || '',\n    _zoho_lead_source: leadSourceMap[item['Campaign Name']] || 'Web contact',\n    _zoho_title:       (item.Title || '').trim() || '-',\n    _zoho_department:  (item.Department || '').trim() || '-'\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0013-4000-8000-000000000013",
      "name": "Crear Lead en Zoho",
      "type": "n8n-nodes-base.zohoCrm",
      "typeVersion": 1,
      "position": [2640, 480],
      "parameters": {
        "resource": "lead",
        "operation": "create",
        "Company": "={{ $json.Company }}",
        "lastName": "={{ $json['Last Name'] }}",
        "additionalFields": {
          "firstName": "={{ $json['First Name'] }}",
          "email": "={{ $json.Email }}",
          "phone": "={{ $json.Phone }}",
          "leadStatus": "={{ $json['Lead Status'] }}",
          "leadSource": "={{ $json._zoho_lead_source }}",
          "title": "={{ $json._zoho_title }}",
          "department": "={{ $json._zoho_department }}",
          "customFields": {
            "customField": [
              {
                "fieldId": "Paises_Pais_1",
                "value": "={{ $json._zoho_pais }}"
              },
              {
                "fieldId": "LeadSource_CC_1",
                "value": "={{ $json._zoho_lead_source }}"
              },
              {
                "fieldId": "Tag",
                "value": "TAEC"
              }
            ]
          }
        }
      },
      "credentials": {
        "zohoCrmOAuth2Api": {
          "id": "ZOHO_CRED_ID",
          "name": "Zoho CRM TAEC"
        }
      }
    },
    {
      "id": "a1b2c3d4-0014-4000-8000-000000000014",
      "name": "Notificar Nuevo Lead",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2880, 480],
      "parameters": {
        "fromEmail": "n8n@taec.com.mx",
        "toEmail": "slim@taec.com.mx",
        "subject": "=Nuevo lead Articulate: {{ $json['First Name'] }} {{ $json['Last Name'] }} - {{ $json.Company }}",
        "emailType": "text",
        "message": "=Nuevo lead creado en Zoho CRM desde Articulate Partner Portal.\n\nEmail:       {{ $json.Email }}\nEmpresa:     {{ $json.Company }}\nLead Status: {{ $json['Lead Status'] }}\nCampana:     {{ $json['Campaign Name'] }}\nFuente XLSX: {{ $json.fileName || 'Articulate' }}",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "SMTP_CRED_ID",
          "name": "SMTP TAEC"
        }
      }
    },

    {
      "id": "a1b2c3d4-0101-4000-8000-000000000101",
      "name": "Webhook Zoho Stage Update",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 820],
      "webhookId": "zoho-stage-update",
      "parameters": {
        "path": "zoho-stage-update",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0102-4000-8000-000000000102",
      "name": "Filtrar TAEC + Articulate",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [480, 820],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-tag-taec",
              "leftValue": "={{ ($json.body || $json).Tag }}",
              "rightValue": "TAEC",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cond-source-articulate",
              "leftValue": "={{ ($json.body || $json).Lead_Source }}",
              "rightValue": "Articulate",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0103-4000-8000-000000000103",
      "name": "Actualizar Oportunidad Salesforce",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [720, 820],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SF_INSTANCE_URL + '/services/data/v59.0/sobjects/Opportunity/' + ($json.body || $json).sf_opportunity_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ StageName: ($json.body || $json).Lead_Status, Description: ($json.body || $json).Description, CloseDate: ($json.body || $json).Close_Date }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json",
              "neverError": false
            }
          }
        }
      },
      "credentials": {
        "oAuth2Api": {
          "id": "SF_OAUTH2_CRED_ID",
          "name": "Salesforce OAuth2 Articulate"
        }
      }
    }
  ],

  "connections": {
    "Schedule Trigger": {
      "main": [[ {"node": "Generar Lista Archivos", "type": "main", "index": 0} ]]
    },
    "Manual Trigger": {
      "main": [[ {"node": "Generar Lista Archivos", "type": "main", "index": 0} ]]
    },
    "Generar Lista Archivos": {
      "main": [[ {"node": "Descargar Archivo Drive", "type": "main", "index": 0} ]]
    },
    "Descargar Archivo Drive": {
      "main": [[ {"node": "Parsear XLSX", "type": "main", "index": 0} ]]
    },
    "Parsear XLSX": {
      "main": [[ {"node": "Filtrar Pais MEX", "type": "main", "index": 0} ]]
    },
    "Filtrar Pais MEX": {
      "main": [[ {"node": "Loop Leads", "type": "main", "index": 0} ]]
    },
    "Loop Leads": {
      "main": [
        [ {"node": "Buscar Lead en Zoho", "type": "main", "index": 0} ],
        []
      ]
    },
    "Buscar Lead en Zoho": {
      "main": [[ {"node": "Combinar Lead + Resultado Zoho", "type": "main", "index": 0} ]]
    },
    "Combinar Lead + Resultado Zoho": {
      "main": [[ {"node": "Lead Existe en Zoho", "type": "main", "index": 0} ]]
    },
    "Lead Existe en Zoho": {
      "main": [
        [ {"node": "Actualizar Lead Zoho",     "type": "main", "index": 0} ],
        [ {"node": "Mapear Campos Nuevo Lead", "type": "main", "index": 0} ]
      ]
    },
    "Mapear Campos Nuevo Lead": {
      "main": [[ {"node": "Crear Lead en Zoho", "type": "main", "index": 0} ]]
    },
    "Crear Lead en Zoho": {
      "main": [[ {"node": "Notificar Nuevo Lead", "type": "main", "index": 0} ]]
    },
    "Webhook Zoho Stage Update": {
      "main": [[ {"node": "Filtrar TAEC + Articulate", "type": "main", "index": 0} ]]
    },
    "Filtrar TAEC + Articulate": {
      "main": [[ {"node": "Actualizar Oportunidad Salesforce", "type": "main", "index": 0} ]]
    }
  },

  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "articulate-zoho-sf-workflow-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "tags": [
    {"name": "Articulate"},
    {"name": "Zoho CRM"},
    {"name": "Salesforce"},
    {"name": "TAEC"}
  ]
}
